// Base
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ol {
  margin: 0;
  padding-left: 1.25rem;
}

// Size
.h-100vh {
  height: 100vh;
}

// Text
.h1 {
  font-size: $h2-font-size;
  line-height: 1.2;
  letter-spacing: 0.25rem;
  margin-bottom: 0;
  @include desktop-1200() {
    font-size: $h1-font-size;
  }
}
.h2 {
  font-size: 2rem; // $h3-font-size;
  margin-bottom: 0;
  @include desktop-1200() {
    font-size: $h2-font-size;
  }  
}
.h3 {
  font-size: $h4-font-size;
  margin-bottom: 0;
  @include desktop-1200() {
    font-size: $h3-font-size;
  }  
}
.h4 {
  font-size: $font-size-base;
  margin-bottom: 0;
  @include desktop-1200() {
    font-size: 1.25rem;
  }
}
.text-size-sm {
  font-size: 0.875rem !important;
}
.text-size-normal {
  font-size: 1rem !important;
}

// Line height
.line-height-lg {
  line-height: 1.5 !important;
}

// Text style
.textBottomlLine {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: $warning;
    z-index: -1;
  }
}

// Color
.body-bg {
  background: $body-bg;
}

// Animation
.animation {
  transition: $transition-base;
}
.animation-fade {
  transition: $transition-fade;
}
.fadeUp__animation {
  opacity: 0;
  animation: fade2 0.6s ease;
  animation-delay: 3.2s;
  animation-fill-mode: forwards;
}
.fadeUp__delay__3-7 {
  animation-delay: 3.3s !important;
}
.fadeUp__delay__3-9 {
  animation-delay: 3.4s !important;
}
.fadeUp__delay__4-1 {
  animation-delay: 3.5s !important;
}
@keyframes fade2{
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  60% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

// Moving
.animation-bottom-to-top {
  animation-name: bottom-to-top;
  animation-iteration-count: infinite;
  @keyframes bottom-to-top{
    from{
      bottom: -10%;
    }
    to{
      bottom: 110%;
    }
  }
}
// AOS Animation
[data-aos="fade-sm-up"] {
  opacity: 0;
  transform: translateY(30px);
  &.aos-animate {
    opacity: 1;
    transform: translateY(0);
  }
}
[data-aos="scale-up"] {
  transform: scaleY(1);
  transform-origin: 100% 0%;
  &.aos-animate {
    transform: scaleY(0);
    transform-origin: 100% 0%;
  }
}
.scaleUp__animation {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 3;
  @include pad() {
    display: block;
  }
 }

// Overflow
.overflow-x-hidden {
  overflow-x: hidden !important;
}
.overflow-visible {
  overflow: visible !important;
}

// Z-index
.z-index-1 {
  z-index: 1;
}
.z-index--1 {
  z-index: -1;
}