// Banner
.banner {
  position: relative;
  height: 100vh;
  text-align: center;
  @include largePad() {
    max-height: 900px;
  }
}
.banner__main {
  display: block;
  height: auto;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  @include pad() {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  @include largePad() {
    display: block;
    height: auto;

  }
}
.banner__main__phone {
  width: 100%;
  @include pad() {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  @include largePad() {
    position: relative;
  }
}
.banner__main__arrow__img {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.banner__main__phone__img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  @include pad() {
    width: auto;
    height: 283px;
  }
}
.banner__bg {
  top: 0;
}
// Banner__circle wave
.circleWave {
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}
.circleWave__cnt{
  width: 120vw;
  height: 120vw;
  position: absolute;
  border-radius: 49% 46%;
  bottom: 0;
  left: -10%;
  @include mobile() {
    width: 90vw;
    height: 90vw;
    left: 4%;
  }
  @include pad() {
    width: 65vw;
    height: 65vw;
    left: 17%;
  }
  @include largePad() {
    width: 50vw;
    height: 50vw;
    left: 24%;
  }
  @include desktop-1200() {
    width: 40vw;
    height: 40vw;
    left: 29%;
  }
  @include FullHD() {
    width: 30vw;
    height: 30vw;
    left: 35%;
  }
}
.circleWave__cnt--animation {
  animation: turn 4000ms infinite linear;
  background: linear-gradient(#E3EDFE,#E1F5FE,#F4F8FF);
}
@keyframes turn {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

// Banner__background
.banner__bg__dot01 {
  position: absolute;
  left: 5%;
  bottom: -10%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $warning;
  animation-duration: 8s;
  animation-delay: 1s;
}
.banner__bg__dot02 {
  position: absolute;
  left: 8%;
  bottom: -10%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 5px solid $secondary;
  background: #fff;
  animation-duration: 8s;
  animation-delay: 0s;
}
.banner__bg__basket {
  position: absolute;
  left: 15%;
  bottom: -10%;
  animation-duration: 7s;
  animation-delay: 3s;
}
.banner__bg__dot03 {
  position: absolute;
  left: 20%;
  bottom: -10%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: $secondary;
  animation-duration: 8s;
  animation-delay: 2s;
}
.banner__bg__store {
  position: absolute;
  left: 30%;
  bottom: -10%;
  animation-duration: 8s;
  animation-delay: 4s;
}
.banner__bg__dot04 {
  position: absolute;
  right: 48%;
  bottom: -10%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 5px solid $warning;
  background: #fff;
  animation-duration: 8s;
  animation-delay: 3s;
}
.banner__bg__gift {
  position: absolute;
  right: 38%;
  bottom: -10%;
  animation-duration: 8s;
  animation-delay: 0.5s;
}
.banner__bg__percent {
  position: absolute;
  right: 30%;
  bottom: -10%;
  animation-duration: 8s;
  animation-delay: 4s;
}
.banner__bg__dot05 {
  position: absolute;
  right: 25%;
  bottom: -10%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: $secondary;
  animation-duration: 4s;
  animation-delay: 2s;
}
.banner__bg__dot06 {
  position: absolute;
  right: 20%;
  bottom: -10%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: $warning;
  animation-duration: 8s;
  animation-delay: 6s;
}
.banner__bg__tag {
  position: absolute;
  right: 11%;
  bottom: -10%;
  animation-duration: 8s;
  animation-delay: 0s;
}
.banner__bg__dot06 {
  position: absolute;
  right: 10%;
  bottom: -10%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: $warning;
  animation-duration: 8s;
  animation-delay: 0.5s;
}

// Introduction
.eSystem {
  color: #fff;
  background: #0D47A1;
  cursor: pointer;
  &:hover {
    img {
      transform: scale(1.05);
      transform-origin: 0% 100%;
    }
  }
  img {
    width: 100%;
    box-shadow: $box-shadow;
    transform: scale(1);
    // transition: transform 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000);
    transform-origin: 0% 100%;
    @include desktop-1200() {
      width: 413px;
    }
  }
}
.companyWebsite {
  color: $body-color;
  background: #E5E6E8;
  cursor: pointer;
  &:hover {
    .companyWebsite__img__case {
      transform: scale(1.05);
    }
    .companyWebsite__img__display {
      transform: translate3d(-1rem,-1rem,0);
    }
  }
  .companyWebsite__img {
    position: relative;
  }
  .companyWebsite__img__case {
    width: 100%;
    transform: scale(1);
  }
  .companyWebsite__img__display {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0,0,0);
  }
}
// LineRobot
.lineRobot {
  position: relative;
  background: #4CAF50;
  height: 350px;
  overflow: hidden;
  cursor: pointer;
  @include desktop-1200() {
    height: 350px;
  }
  &:hover {
    .lineRobot__hand {
      transform: scale(1.1);
      transform-origin: 100% 100%;
    }
  }
  .lineRobot__hand {
    position: absolute;
    bottom: 0;
    left: -10px;
    transform: scale(1);
    transform-origin: 100% 100%;
    @include pad() {
      left: 15%;
    }
  }
  .lineRobot__lineIcon {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    @include pad() {
      right: 20%;
    }
  }
}
// Alliance
.alliance {
  position: relative;
  background: #8E99F3;
  height: 350px;
  cursor: pointer;
  &:hover {
    .alliance__phone {
      img {
        transform: scale(1.2);
      }
    }
    .alliance__people__left {
      left: 5%;
    }
    .alliance__people__right {
      right: 5%;
    }
  }
  @include desktop-1200() {
    &:hover {
      .alliance__people__left {
        left: 12%;
      }
      .alliance__people__right {
        right: 12%;
      }      
    }
  }
  .alliance__phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    z-index: 2;
    img {
      transform: scale(1);
    }
  }
  .alliance__people__left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
    @include pad() {
      left: 8%;
    }
  }
  .alliance__people__right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
    @include pad() {
      right: 8%;
    }
  }
  .alliance__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    img {
      width: 100%;
      height: 100%;
    }
  }
}
// MultiModule
.multiModule {
  position: relative;
  background: url("../assets/images/present_05_bg.jpg") center no-repeat;;
  width: 100%;
  height: 350px;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    background-size: cover;
    .multiModule__word {
      transform: scale(2);
    }
  }
  @include pad() {
    background-size: 100%;
    &:hover {
      background-size: 110%;
      .multiModule__word {
        transform: scale(1.2);
      }      
    }
  }
  .multiModule__word {
    position: absolute;
    bottom: -20%;
    left: 0;
    transform: scale(1);
    @include pad() {
      left: -5%;
    }
  }
}
// Onepage
.onepage {
  position: relative;
  width: 100%;
  height: 350px;
  background: url("../assets/images/present_06_bg.jpg") center no-repeat;;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  img {
    width: 94%;
  }
  @include pad() {
    background-size: 100%;
    img {
      width: auto;
    }
  }
  &:hover {
    .onepage__bg01,
    .onepage__bg02 {
      transform: translate3d(-50%,-50%,0);
    }
  }
  .onepage__web {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    @include pad() {
      width: auto;
    }
  }
  .onepage__bg01 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate3d(-47%, -45%, 0);
    @include pad() {
      width: auto;
    }
  }
  .onepage__bg02 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate3d(-44%, -40%, 0);
    @include pad() {
      width: auto;
    }
  }
}
// AnalysisReport
.analysisReport {
  position: relative;
  background: #E8E8EA;
  height: 350px;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    .analysisReport__notebook {
      bottom: 0;
      right: -20%;
      transform: scale(1.1);
    }
  }
  .analysisReport__notebook {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: -15%;
    transform: scale(1);
    img {
      width: auto;
    }
    @include pad() {
      width: auto;
      right: -25%;
      img {
        width: 100%;
      }      
    }
  }
}
.introductionBg__top {
  display: none;
  @include pad() {
    display: block;
    position: absolute;
    top: -10%;
    right: -90%;
    z-index: -1;
  }
  @include largePad() {
    right: -45%;
  }
}
.introductionBg__bottom {
  display: none;
  @include pad() {
    display: block;
    position: absolute;
    bottom: 0;
    left: -130%;
    z-index: -1;
  }
  @include largePad() {
    left: -65%;
  }
}

// Features
.featuresImg {
  position: relative;
  width: 100%;
  padding-top: calc(100% * 0.5625);
  overflow: hidden;
  margin-bottom: 3rem;
  @include largePad() {
    padding-top: calc(100% * 1);
    margin-bottom: 0;
  }
}
.featuresImg__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.featuresText {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: start;
}
.featuresText__list {
  width: 100%;
  color: $gray-300;
  &:nth-of-type(1) {
    margin-bottom: 1rem;
  }
  &:nth-of-type(2) {
    margin-bottom: 1rem;
  }
  @include mobile() {
    width: 50%;
    &:nth-of-type(2) {
      margin-bottom: 0;
    }
  }
  @include pad() {
    width: 33.333%;
  }
  li {
    margin-bottom: 1rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

// Works
.worksProject {
  margin-bottom: 1rem;
  &:nth-of-type(n+5) {
    display: none;
  }
  @include pad() {
    &:nth-of-type(5) {
      display: block;
    }
    &:nth-of-type(6) {
      display: block;
    } 
  }
  @include largePad() {
    &:nth-of-type(n+4) {
      margin-bottom: 0;
      display: block;
    }
  }
}
.worksProject__imgBlock {
  &:hover {
    .worksProject__imgBlock--hover {
      opacity: 1;
      transform: translateZ(0) scale(1);
    }
  }
}
.worksProject__imgBlock--hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #fff;
  background: rgba(54,54,54,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateZ(0) scale(1.05);
  transition: all .3s ease;
}
.worksProject__imgBlock__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;    
}
.worksProject__imgBlock__name {
  font-size: 0.875rem;
  margin: 0;
}

.priceSlide {
  background: #fff;
  transform: scale(1);
  &:nth-of-type(2) {
    transform: scale(1.05);
    z-index: 1;
  }
  @include desktop-1200() {
    &:hover {
      transform: scale(1.05);
      z-index: 2;
      &:nth-of-type(2) {
        transform: scale(1.1);
      }
    }
  }
}
.priceBlock {
  background: #fff;
}
.priceBlock__popular {
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  transform: translateY(-100%);
  background: $secondary;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  padding: 0.5rem 0;
  text-align: center;
  color: #fff;
}
