.btnMain {
  color: #fff;
  background: $primary;
  font-size: 1.25rem;
  font-weight: normal;
  padding: 0.5rem 2rem;
  letter-spacing: 1px;
  @include largePad() {
    font-size: 1.5rem;
  }
}

// .gotopBtn {
//   display: flex;
//   position: fixed;
//   bottom: 20px;
//   right: 20px;
//   cursor: pointer;
//   opacity: 1;
//   background: #fff;
//   padding: 0.5rem;
//   border: 2px solid $info;
//   border-radius: 50%;
//   outline: 0 !important;
//   .material-icons {
//     font-size: 2rem;
//     color: $info;
//   }
//   &:hover {
//     background: $primary;
//     border: 2px solid #fff;
//     .material-icons {
//       color: #fff;
//     }    
//   }
// }