.btnMain {
  color: #fff;
  background: $primary;
  font-size: 1.25rem;
  font-weight: normal;
  padding: 0.5rem 2rem;
  letter-spacing: 1px;
  box-shadow: $box-shadow;
}

.btnSecondary {
  color: $primary;
  background: none;
  font-size: 1rem !important;
  font-weight: normal;
  padding: 0.75rem 2rem;
  letter-spacing: 1px;
}