.loading {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1031;
}
.loading .progress {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}